.users-wrapper {
	padding:0;
	position:relative;
	border-radius:0;
	margin-bottom:10px;
	background:#fff
}
.users-wrapper.green {
	border-top:2px solid #3fcbca
}
.users-wrapper.yellow {
	border-top:2px solid #ffda68
}
.users-wrapper.red {
	border-top:2px solid #ff7671
}
.users-wrapper.blue {
	border-top:2px solid #4bb5ea
}
.users-wrapper .users-info {
	padding:15px
}
.users-wrapper .users-info .users-avatar {
	width:60px;
	height:60px;
	float:left
}
.users-wrapper .users-info .users-avatar img {
	-webkit-border-radius:18px;
	-moz-border-radius:18px;
	border-radius:18px
}
.users-wrapper .users-info .users-detail {
	margin-left:75px
}
.users-wrapper .users-info .users-detail h5 {
	padding:0;
	margin:12px 0 2px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden
}
.users-wrapper .users-info .users-detail p {
	margin:0;
	padding:0;
	font-size:11px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden
}
.users-wrapper ul.users-footer {
	background:#f7fafc
}
.users-wrapper ul.users-footer li {
	float:left;
	width:40%;
	padding:10px 10px 10px 15px;
	box-sizing:border-box;
	border-left:1px solid #dde7f3
}
.users-wrapper ul.users-footer li:first-child {
	border-left:0
}
.users-wrapper ul.users-footer li:last-child {
	width:20%;
	border-left:0
}
.users-wrapper ul.users-footer li p {
	margin:0;
	padding:0;
	line-height:100%;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden
}
.users-wrapper ul.users-footer li p.light {
	margin:0 0 5px;
	font-size:11px;
	font-style:italic
}
.users-wrapper ul.users-footer li .add-btn {
-webkit-transition:all .3s ease-in-out;
-moz-transition:all .3s ease-in-out;
-ms-transition:all .3s ease-in-out;
-o-transition:all .3s ease-in-out;
transition:all .3s ease-in-out;
	float:right;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
	background:#E8EFF7;
	width:30px;
	height:30px;
	text-align:center;
	display:block
}
.users-wrapper ul.users-footer li .add-btn i {
-webkit-transition:all .3s ease-in-out;
-moz-transition:all .3s ease-in-out;
-ms-transition:all .3s ease-in-out;
-o-transition:all .3s ease-in-out;
transition:all .3s ease-in-out;
	color:#3fcbca;
	font-size:20px;
	line-height:30px
}
.users-wrapper ul.users-footer li .add-btn.addednorthzone {
	background:#ff5c56
}
.users-wrapper ul.users-footer li .add-btn.addedsouthzone {
	background:#ffcd35
}
.users-wrapper ul.users-footer li .add-btn.added {
	background:#3fcbca
}
.users-wrapper ul.users-footer li .add-btn.added i {
	color:#fff
}

.card-wrapper {
	margin-bottom:10px;
	background:#fff;
	border-top:2px solid #ffda68;
	-webkit-transition:all 1s ease-in-out;
	-moz-transition:all 1s ease-in-out;
	-ms-transition:all 1s ease-in-out;
	-o-transition:all 1s ease-in-out;
	transition:all 1s ease-in-out
}
.card-wrapper .card .card-type:after, .card-wrapper .card .card-type:before {
	content:"";
	bottom:-8px;
	border-top:8px solid #e4ecf6
}
.card-wrapper .card {
	padding:10px;
	text-align:center;
	position:relative;
	width:100%;
	box-sizing:border-box
}
.card-wrapper .card .card-type {
	position:absolute;
	right:15px;
	top:0;
	background-color:#e4ecf6;
	padding:5px;
	width:36px;
	color:#fff
}
.card-wrapper .card .card-type:after {
	position:absolute;
	left:0;
	border-right:16px solid transparent
}
.card-wrapper .card .card-type:before {
	position:absolute;
	right:0;
	border-left:16px solid transparent
}
.card-wrapper .card .card-avatar {
	width:64px;
	height:64px;
	margin:30px auto;
	border:2px solid #ffda68;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px
}
.card-wrapper .card h5 {
	text-transform:uppercase;
	font-size:13px;
	margin:0 0 10px;
	font-weight:500
}
.card-wrapper .card p {
	font-size:14px;
	margin:0 0 10px
}
.card-wrapper ul.card-actions {
	text-align:center
}
.card-wrapper ul.card-actions li {
	width:40px;
	margin:0 5px 20px;
	display:inline-block
}
.card-wrapper ul.card-actions li .action-btn {
	display:block;
	width:40px;
	height:40px;
	line-height:38px;
	background:#f3f7fb;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	border:1px solid #d5e2f0;
	z-index:1;
	text-align:center
}
.card-wrapper ul.card-actions li .action-btn i {
	display:block;
	font-size:24px;
	line-height:38px;
	color:#364860
}
.card-wrapper ul.card-actions li .action-btn:hover {
	box-shadow:0 0 10px #c2d5ea
}
.card-wrapper.red {
	border-top:2px solid #ff7671
}
.card-wrapper.red img.card-avatar {
	border:2px solid #ff7671
}
.card-wrapper.red .card-type {
	background-color:#ff7671
}
.card-wrapper.red .card-type:after, .card-wrapper.red .card-type:before {
	border-top:8px solid #ff7671
}
.card-wrapper.yellow {
	border-top:2px solid #ffda68
}
.card-wrapper.yellow img.card-avatar {
	border:2px solid #ffda68
}
.card-wrapper.yellow .card-type {
	background-color:#ffda68
}
.card-wrapper.yellow .card-type:after, .card-wrapper.yellow .card-type:before {
	border-top:8px solid #ffda68
}
.card-wrapper.pink {
	border-top:2px solid #F782AA
}
.card-wrapper.pink img.card-avatar {
	border:2px solid #F782AA
}
.card-wrapper.pink .card-type {
	background-color:#F782AA
}
.card-wrapper.pink .card-type:after, .card-wrapper.pink .card-type:before {
	border-top:8px solid #F782AA
}
.card-wrapper.blue {
	border-top:2px solid #4bb5ea
}
.card-wrapper.blue img.card-avatar {
	border:2px solid #4bb5ea
}
.card-wrapper.blue .card-type {
	background-color:#4bb5ea
}
.card-wrapper.blue .card-type:after, .card-wrapper.blue .card-type:before {
	border-top:8px solid #4bb5ea
}
.card-wrapper.green {
	border-top:2px solid #3fcbca
}
.card-wrapper.green img.card-avatar {
	border:2px solid #3fcbca
}
.card-wrapper.green .card-type {
	background-color:#3fcbca
}
.card-wrapper.green .card-type:after, .card-wrapper.green .card-type:before {
	border-top:8px solid #3fcbca
}
.card-wrapper.violet {
	border-top:2px solid #597FC5
}
.card-wrapper.violet img.card-avatar {
	border:2px solid #597FC5
}
.card-wrapper.violet .card-type {
	background-color:#597FC5
}
.card-wrapper.violet .card-type:after, .card-wrapper.violet .card-type:before {
	border-top:8px solid #597FC5
}
.card-wrapper.orange {
	border-top:2px solid #FF9251
}
.card-wrapper.orange img.card-avatar {
	border:2px solid #FF9251
}
.card-wrapper.orange .card-type {
	background-color:#FF9251
}
.card-wrapper.orange .card-type:after, .card-wrapper.orange .card-type:before {
	border-top:8px solid #FF9251
}
.card-wrapper.peach {
	border-top:2px solid #FF9997
}
.card-wrapper.peach img.card-avatar {
	border:2px solid #FF9997
}
.card-wrapper.peach .card-type {
	background-color:#FF9997
}
.card-wrapper.peach .card-type:after, .card-wrapper.peach .card-type:before {
	border-top:8px solid #FF9997
}
.card-wrapper.purple {
	border-top:2px solid #6a55c2
}
.card-wrapper.purple img.card-avatar {
	border:2px solid #6a55c2
}
.card-wrapper.purple .card-type {
	background-color:#6a55c2
}
.card-wrapper.purple .card-type:after, .card-wrapper.purple .card-type:before {
	border-top:8px solid #6a55c2
}
.card-wrapper.brown {
	border-top:2px solid #987345
}
.card-wrapper.brown img.card-avatar {
	border:2px solid #987345
}
.card-wrapper.brown .card-type {
	background-color:#987345
}
.card-wrapper.brown .card-type:after, .card-wrapper.brown .card-type:before {
	border-top:8px solid #987345
}
